
.RegistrosForm {
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

#inputFecha {
    color: #8e8686;
}

table {
    margin-top: 10px;
    border-radius: 4px;
    background-color: white;  
}

tr{
    text-align: center;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root .css-1sszw6i-MuiButtonBase-root-MuiButton-root{
    margin-left: 3;
}

.container {
    margin-top: 10px;
}
.css-zqcytf-MuiButtonGroup-root .MuiButtonGroup-grouped{
    min-width: 90px;
}

