.marcaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.barracontainer{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-top: 3%;
    align-items: center;
}
.pesaje { 
    justify-content: center;
}
.botonMarca{
    margin-top: 10px;
    margin-bottom: 50px;
}
#barraBuscar{
    width: 100% ;
}